    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --font1: "Roboto";
        --font2: "Poppins";
        --font3: "Raleway";
        --side-color:#02241c;
        --bg-color: #000000;
        --color: #dddddd;
        --color2: #eaf6f8;
        --text-color: #555;
        --hcolor: #1284b6;
        --color1: #fdfdfd;
    }

    .container {
        display: flex;
        height: 100vh;
        overflow-x: hidden;
        font-family: var(--font1);
    }

    .sidebar {
        width: 250px;
        position: fixed;
        background: var(--side-color);
        color: var(--color);
        height: 100%;
        padding: 20px 20px;
        transition: 0.4s ease;
        z-index: 1000;
        overflow-y: scroll;
    }

    .sidebar .profile img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin: 30px;
    }

    .profile h2 {
        padding: 10px;
        font-size: 25px;
        font-family: var(--font1);
    }

    .profile p {
        font-size: 20px;
        font-family: var(--font3);
    }

    .sidebar .menu {
        list-style: none;
        font-family: var(--font2);
        margin-top: 20px;
        padding: 20px;
    }

    .sidebar .menu li {
        font-size: 20px;
        margin: 10px 0;

    }

    .sidebar .menu a {
        text-decoration: none;
        color: var(--color);
    }

    .sidebar a:hover {
        color: #fff;
    }

    .banner {
        margin-left: 250px;
        flex: 1;
        position: relative;
    }

    .banner img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .banner-text {
        position: absolute;
        top: 60%;
        left: 10%;
        color: var(--color);
    }

    .banner-text h1 {
        font-size: 48px;
    }

    .banner-text p {
        font-size: 20px;
    }

    .toggle-btn {
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
        background: var(--bg-color);
        color: var(--color);
        border: none;
        font-size: 24px;
        padding: 8px 12px;
        cursor: pointer;
        z-index: 2000;
    }


    .fa-brands {
        margin-top: 10px;
        font-size: 25px;
    }

    .fa-brands:hover {
        color: var(--color1);
    }


    .fa-solid,
    .fa-regular {
        font-size: 18px;
    }


    /*------ About section ------------- */
    .container-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        font-family: var(--font1);
    }

    .about {
        margin: 40px 60px;
    }

    .about h2 {
        font-size: 30px;
        color: var(--bg-color);
        font-family: var(--font3);
    }

    .about p {
        color: var(--text-color);
        font-size: 20px;
        line-break: 2;
        line-height: normal;
        margin: 10px 0px;
    }

    .section img {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    .about-section {
        color: var(--text-color);
        margin: 10px 40px;
    }

    .about-section h3 {
        font-size: 25px;
        font-family: var(--font3);
        color: var(--bg-color);
    }

    .about-section p {
        font-size: 18px;
    }

    .list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-size: 18px;
        margin: 30px;
    }

    .list span {
        color: var(--bg-color);
        font-weight: 800;
        margin: 10px;
    }

    .list li {
        list-style: none;
        margin: 10px;
    }

    /*------- stats section  -----*/
    .stats-section {
        display: flex;
        justify-content: space-between;
        align-items: left;
        margin: 20px auto;
        padding: 40px 8rem;
        gap: 20px;

    }

    .stats-section span {
        font-family: var(--font1);
        font-weight: 900;
        font-size: 30px;
    }

    .stats-section p {
        text-align: left;
        margin: 5px;
        font-size: 25px;
        font-family: var(--font3);
    }

    /*------------ skills section -------------- */

    .skills {
        background-color: var(--color2);
        padding: 80px 60px;
    }

    .skills h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .skills p {
        font-size: 18px;
        color: var(--text-color)
    }

    .skill-bars {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .bar .info {
        display: flex;
        justify-content: space-between;
    }

    .progress {
        background: #eee;
        height: 8px;
    }

    .progress-line {
        height: 100%;
        background-color: var(--hcolor);
        animation: progressAnimation 3s ease-in-out forwards;
    }

    @keyframes progressAnimation {
        from {
            width: 0%;
        }

        to {
            width: var(--target-width);
        }
    }

    .progress-line.html {
        --target-width: 100%;
    }

    .progress-line.css {
        --target-width: 90%;
    }

    .progress-line.js {
        --target-width: 75%;
    }

    .progress-line.php {
        --target-width: 80%;
    }

    .progress-line.wp {
        --target-width: 90%;
    }

    .progress-line.ps {
        --target-width: 55%;
    }

    /*-------------- Resume section ---------- */
    .resume {
        padding: 80px 50px;
    }

    .resume h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .resume p {
        margin-bottom: 30px;
        font-size: 18px;
    }

    .resume-container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        font-family: var(--font1);
    }

    .resume h3 {
        font-size: 20px;
        color: var(--hcolor);
        margin-bottom: 10px;
    }

    .resume-item {
        margin-bottom: 20px;
        border-left: 2px solid var(--hcolor);
        padding-left: 30px;
        color: var(--text-color);
    }

    .resume-item h4 {
        color: var(--bg-color);
        font-family: var(--font3);
    }

    .resume-item ul li {
        list-style: circle;
        margin-bottom: 10px;
        color: var(--text-color);
    }

    /* ----------- service section --------- */
    .services-section {
        width: 100%;
        margin: 40px auto;
        text-align: center;
        padding: 50px 30px;

        background-color: var(--color2);
    }

    .services-section h2 {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: left;
    }

    .services-desc {
        color: var(--text-color);
        text-align: left;
        margin: 20px 60px;
        line-height: 1.9;
    }

    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }


    .service-box {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        gap: 15px;
        text-align: left;
    }

    .service-box p {
        margin: 5px 0px;
        text-align: left;
        width: 340px;
    }

    .service-box .icon {
        background: var(--hcolor);
        color: var(--color1);
        font-size: 20px;
        width: 50px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--hcolor);
    }


    .service-box h4 {
        color: var(--hcolor);
        margin-bottom: 5px;
        font-size: 17px;
    }

    .service-box p {
        color: var(--text-color);
        font-size: 15px;
        line-height: 1.6;
    }

    .service-box:hover .icon {
        background: var(--color1);
        color: var(--hcolor);
        transition: 0.3s;
    }

    /* --------------- contact section ------------ */
    .contact-section {
        width: 100%;
    }

    .contact-section h2,
    p {
        margin: 10px 20px;
    }

    .contact-container {
        margin: 60px 50px;
        font-family: var(--font1);
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        color: var(--text-color)
    }

    .contact-section h2 {
        margin-bottom: 20px;
        font-family: var(--font3);
    }

    .contact-section p {
        margin-bottom: 20px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 10px;
        background-color: var(--color1);
        box-shadow: 0px 2px 5px 2px #888888;
    }

    .contact-info h4 {
        color: var(--bg-color);
        font-family: var(--font3);
    }

    .contact-form {
        width: 45%;
        display: flex;
        font-family: var(--font1);
        flex-direction: column;
        padding: 70px 50px;
        box-shadow: 0px 2px 5px 2px #888888;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .contact-form input,
    .contact-form textarea {
        font-family: var(--font1);
        max-width: 100%;
        max-height: 140px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .contact-form input:focus,
    .contact-form textarea:focus {
        border: 1px solid var(--hcolor);
        outline: none;
    }

    .contact-form button {
        display: block;
        margin: 20px auto 0;
        font-family: var(--font1);
        background: var(--hcolor);
        color: var(--color1);
        padding: 10px 25px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 18px;
        transition: 0.3s;
    }

    .contact-form button:hover {
        background: var(--hcolor);
    }

    .contact-container .fa-solid {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--hcolor);
        border: 1px solid var(--hcolor);
        font-size: 20px;
    }

    .contact-container .fa-solid:hover {
        color: var(--color1);
        background-color: var(--hcolor);
        cursor: pointer;
    }

    /*---------- footer -------- */
    footer {
        width: 100%;
        text-align: center;
        /* margin-top: 40px; */
        margin: 20px 10px;
        font-size: 14px;
        color: var(--text-color);
        background-color: var(--color2);
        padding: 10px 20px;
        font-family: var(--font1);
    }

    footer .highlight {
        margin-top: 10px;
        color: var(--hcolor);
    }

    footer a {
        color: var(--hcolor);
        text-decoration: none;
    }

    /* --------- Responsive Design --------- */

    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }

        .sidebar {
            position: fixed;
            top: 0;
            left: -80%;
            height: 100%;
            width: 350px;
        }

        .sidebar.active {
            left: 0;
        }

        .toggle-btn {
            display: block;
        }

        .banner {
            margin: 0px;
        }

        .banner-text {
            top: 7%;
        }

        .banner img {
            height: 80vh;
        }

        .container-wrap {
            flex-direction: column;
            flex-wrap: wrap;
        }

        .section img {
            min-width: 420px;
        }

        .list {
            flex-direction: column;
            flex-wrap: wrap;
            margin: 20px;
            font-size: 20px;
        }

        .about-section h3 {
            margin: 10px;
            font-size: 30px;
        }

        .about-section p {
            font-size: 20px;
        }

        .stats-section {
            flex-wrap: wrap;
            flex-direction: column;
            gap: 30px;
        }

        .skill-bars {
            grid-template-columns: 1fr;
        }

        .resume-container {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .services-container {
            grid-template-columns: 1fr;
        }


        .service-box p {
            text-align: center;
        }

        .contact-info {
            min-width: 100%;
        }

        .contact-form {
            min-width: 100%;
        }
    }

    @media (max-width: 420px) {
        .sidebar {
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            width: 250px;
        }

        .banner-text {
            top: 4%;
        }

        .banner img {
            height: 60vh;
        }

        .about {
            margin: 20px 10px;
        }

        .section img {
            min-width: 350px;
        }

        .list {
            margin: 10px;
        }

        .progress {
            margin: 10px;
        }

        .services-desc {
            margin: 10px 0px;
        }

        .service-box p {
            width: 260px;
        }

        .contact-container {
            margin: 30px 30px;
        }
    }